.related-products {
  margin: 40px 170px;
}

.related-products h3 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #222;
}

.related-products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}
