.newsletter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 40vh;
  margin-top:800px;
  margin-left: 50px;
  gap: 30px;
  padding: 0px 140px;
  background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 100%);
  border: 1px solid #eee;
  border-radius: 8px;
}
.newsletter h1 {
  font-size: 55px;
  color: #454545;
  font-weight: 600;
}
.newsletter p {
  font-size: 20px;
  color: #454545;
}
.newsletter div{
  display: flex;
  gap: 10px;
  width: 730px;
  height: 70px;
  border-radius: 80px;
  border: 1px solid #e3e3e3;
  justify-content: space-between;
  align-items: center;
}
.newsletter input {
  width: 500px;
  margin-left: 30px;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
.newsletter div button {
  padding: 10px 20px;
  border: none;
  border-radius: 80px;
  background: #333;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
.newsletter div button:hover {
  background: #555;
}
@media (max-width: 1280px) {
  .newsletter {
    height: auto; /* let height adjust automatically */
    padding: 0px 80px;
    margin-bottom: 120px;
    gap: 20px;
  }
  
  .newsletter h1 {
    font-size: 36px;
  }
  
  .newsletter p {
    font-size: 18px;
  }
  
  .newsletter div {
    width: 600px;
    height: 60px; 
  }
  
  .newsletter input {
    width: calc(100% - 40px); /* full width minus padding */
    margin-left: 0; /* reset margin */
  }
  .newsletter div button {
    width: 160px; 
    height: 60px;
    font-size: 14px; /* smaller font size */
  }
}

@media (max-width: 1024px) {
  .newsletter {
    font-size: 30px;
  }
  
  .newsletter h1 {
    font-size: 32px;
  }
  
  .newsletter p {
    font-size: 14px;
  }
  
  .newsletter div {
    width: 600px;
    height: 60px; 
  }
  
  .newsletter input {
    width: 300px; 
    font-size: 14px;
  }
  .newsletter div button {
    width: 120px; 
    height: 50px;
    font-size: 13px; /* smaller font size */
  }
}
@media (max-width: 800px) {
  .newsletter {
    font-size: 25px;
    height: 30vh;

  }
  
  .newsletter h1 {
    font-size: 25px;
  }
  
  .newsletter p {
    font-size: 12px;
  }
  
  .newsletter div {
    width: 400px;
    height: 40px; 
  }
  
  .newsletter input {
    width: 300px; 
    font-size: 14px;
  }
  .newsletter div button {
    width: 100px; 
    height: 40px;
    font-size: 12px; /* smaller font size */
  }
}

@media (max-width: 500px) {
  .newsletter {
    font-size: 25px;
    height: 25vh;
    width: 100%;
    gap: 15px;

  }
  
  .newsletter h1 {
    font-size: 16px;
  }
  
  .newsletter p {
    font-size: 12px;
    max-width: 200px;
    text-align: center;
  }
  
  .newsletter div {
    width: 290px;
  }
  
  .newsletter input {
    width: 300px; 
    font-size: 14px;
  }
  .newsletter div button {
    width: 100px; 
    height: 40px;
    font-size: 12px; /* smaller font size */
  }
}